<p id="notice"><%= notice %></p>

<h1>Recent Ribbits</h1>

<% @links.each do |link| %>
  <div class="link clearfix">
    <h2><%= link_to link.title, link %></h2>
    <%= link_to link.url, link.url %> - <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%#= link.user.name %></small>
    <%= link_to 'Show', link %>
    <% if link.user_id == current_user %>
    <%= link_to 'Edit', edit_link_path(link) %>
    <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure? This link will croak permanently' } %>
  </div>
  <div class="btn-group">
    <a class="btn btn-default" href="<%= link.url %>">Hop Over</a>
    <%#= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%#= link.get_upvotes.size %>
    <%# end %>
    <%#= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down">
      Downvote
      <%#= link.get_downvotes.size %>
    <%# end %>
  </div>
<% end %>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Ribbit', new_link_path %>
<% end %> 